<div class="min-h-svh bg-black text-white flex flex-col items-center pt-5">
  <img src="1.png" width="200px" class="mb-10" alt="" />
  <a routerLink="/admin" class="text-xl font-bold mb-5"
    ><i class="fa-solid fa-chart-simple pe-2"></i>Dashboard</a
  >
  <a routerLink="/admin/product" class="text-xl font-bold mb-5"
    ><i class="fa-solid fa-shop pe-2"></i>Product List</a
  >
  <a routerLink="/admin/user-list" class="text-xl font-bold mb-5"
    ><i class="fa-solid fa-users pe-2"></i>User List</a
  >
  <a routerLink="/admin/order-list" class="text-xl font-bold mb-5"
    ><i class="fa-solid fa-cart-shopping pe-2"></i>Orders List</a
  >
  <a routerLink="/admin/message" class="text-xl font-bold mb-3"
    ><i class="fa-solid fa-message pe-2"></i>Message</a
  >
</div>
