<div class="bg-black text-white p-10 row-auto">
  <div class="grid grid-cols-1 md:grid-cols-5 items-center justify-between">
    <div class="col-span-1">
      <a routerLink="/"><img width="200px" src="1.png" alt="" /></a>
      <p class="text-white text-justify pt-2">
        If you would like to experience the best of online shopping in India,
        you are at the right place. Our online store brings you the latest in
        designer products. You can shop online at
        <a routerLink="/">Grabit</a> from the comfort of your home and get your
        favourites delivered right to your doorstep.
      </p>
    </div>
    <div class="col-span-1"></div>
    <!-- Menue -->
    <div class="ps-10 col-span-1">
      <h2 class="font-bold text-xl pb-2">Menu</h2>
      <ul class="text-lg">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </div>
    <div class="ps-10 col-span-1">
      <h2 class="font-bold text-xl pb-2">Support</h2>
      <ul class="text-lg">
        <li><a routerLink="/about">Terms and Condition</a></li>
        <li><a routerLink="/about">FAQs</a></li>
        <li><a routerLink="/about">Privacy Policy</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="ps-10 col-span-1">
      <h2 class="font-bold text-xl pb-2">Social Media</h2>
      <ul class="text-lg">
        <li>
          <a href="https://www.facebook.com/" target="_blank">
            <i class="fa-brands fa-facebook text-white me-2"></i> Facebook</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank"
            ><i class="fa-brands fa-instagram text-white me-2"></i>Instagram</a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/" target="_blank"
            ><i class="fa-brands fa-youtube text-white me-2"></i>YouTube</a
          >
        </li>
        <li>
          <a href="https://x.com/?lang=en-in" target="_blank"
            ><i class="fa-brands fa-x text-white me-2"></i>Twitter</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="mt-8 text-center text-xl text-gray-400">
    <p>&copy; 2024 GrabIt. All rights reserved.</p>
  </div>
</div>
