<app-header></app-header>
<div class="h-svh bg-black w-full">
  <div class="flex flex-col justify-center items-center text-white">
    <div class="w-2/6">
      <h1 class="text-xl font-bold pb-3">Delivery Address</h1>
      <form class="w-full" [formGroup]="chekoutForm" (ngSubmit)="checkoutOrder()">
        <div class="flex justify-between items-center mb-3 w-full">
          <input
            class="mr-3 w-full"
            placeholder="Name"
            type="text"
            formControlName="name"
            name="name"
            pInputText
          />
          <input
            type="text"
            class="w-full"
            pInputText
            placeholder="Phone Number"
            name="phonenumber"
            formControlName="phonenumber"
          />
        </div>
        <div class="flex justify-between items-center mb-3">
          <input
            class="mr-3 w-full"
            placeholder="Pincode"
            type="text"
            pInputText
            name="pincode"
            formControlName="pincode"
          />
          <input type="text" class="w-full" pInputText placeholder="Locality" name="locality" formControlName="locality" />
        </div>
        <div class="mb-3">
          <textarea
            pTextarea
            class="w-full"
            rows="5"
            placeholder="Address"
            name="address"
            formControlName="address"
          ></textarea>
        </div>
        <div class="flex justify-between items-center mb-3">
          <input
            class="mr-3 w-full"
            placeholder="City/District/Town"
            type="text"
            pInputText
            name="city"
            formControlName="city"
          />
          <p-select
            class="w-full"
            placeholder="Select State"
            [options]="cities"
            name="state"
            formControlName="state"
          />
        </div>
        <div class="w-full mt-5">
          <h1 class="text-xl font-bold pb-3">Order Details</h1>
          @if (itemDetails.length>0) {
          <div class="w-full flex text-white">
            <div class="w-full me-1">
              @if(itemDetails.length>0){ @for (item of itemDetails; track $index) {
              <div class="flex items-center">
                <img
                  height="150px"
                  width="150px"
                  [src]="item.thumbnail"
                  alt=""
                />
                <div class="ps-3 w-2/6">
                  <h1 class="text-2xl font-bold pb-2">{{ item.title }}</h1>
                  <div class="flex justify-between items-center">
                    <p class="text-lg">₹{{ item.price }}</p>
                    <p>Quantity:{{ item.count }}</p>
                  </div>
                </div>
              </div>
              <hr />
              } }
            </div>
          </div>
          }
          <div class="flex justify-end w-full pt-3">
            <h4 class="text-2xl font-bold text-emerald-700">
              Total: ₹{{ totalPrice }}
            </h4>
          </div>
        </div>
        <div class="flex justify-center items-center">
          <p-button
            type="submit"
            styleClass="!bg-[#ae9b846b] !border-[#ae9b846b] !text-white text-2xl font-bold"
            >Cash on Delivery</p-button
          >
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
