<app-header></app-header>
<div class="w-full bg-black min-h-svh">
  <div class="grid bg-black grid-cols-1 md:grid-cols-4 gap-10 px-5 py-4 color">
    <div>
      <a routerLink="/all-products" class="underline font-semibold"
        >Back to All Products</a
      >
    </div>
    <div class="p-10 flex justify-center items-center flex-col w-full">
      <img height="300px" width="300px" [src]="product.thumbnail" alt="" />
      <div class="flex justify-between py-3 w-full">
        <button
          class="px-3 py-1 text-lg rounded-sm bg-[#ae9b846b] text-white mt-2"
          [disabled]="!isTokenAvailable"
          (click)="addCart()"
        >
          <i class="fa-solid fa-cart-shopping"></i>
          Add to Cart
        </button>
        <button
          class="px-3 py-1 text-lg rounded-sm bg-[#ae9b846b] text-white mt-2"
          [disabled]="!isTokenAvailable"
          (click)="addWishlist()"
        >
          <i class="fa-solid fa-heart"></i>
          Add to Wishlist
        </button>
      </div>
    </div>
    <div class="pt-5">
      <h3 class="text-2xl font-bold py-2">{{ product.title }}</h3>
      <p class="text-justify">
        {{ product.description }}
      </p>
      <p class="text-xl font-bold py-2">₹{{ product.price }}</p>
      <div class="flex items-center pb-2">
        <button
          class="text-lg font-bold text-white p-2 rounded-md bg-[#ae9b846b]"
        >
          <i class="fa-solid fa-star"></i>
          {{ product.rating }}
        </button>
        <p class="ms-1 font-semibold">{{ numberofReviews }} reviews</p>
      </div>

      <div class="flex flex-col font-bold text-lg">
        <p class="pb-1">Reviews:</p>
        @for (review of product.reviews; track $index) {
        <div class="py-2">
          <p class="font-semibold">{{ review.reviewerName }}</p>
          <p class="font-normal">{{ review.comment }}</p>
          <button
            class="text-sm font-bold text-white px-2 py-1 rounded-md bg-[#ae9b846b]"
          >
            <i class="fa-solid fa-star"></i>
            {{ review.rating }}
          </button>
        </div>
        <hr />
        }
      </div>
      <button
        class="bg-[#ae9b846b] text-white px-3 py-2 rounded mt-3"
        (click)="showDialog()"
      >
        Add Review
      </button>
    </div>
    <div></div>
  </div>

  <div class="">
    <h1 class="text-white font-bold ps-10 pt-10 text-3xl">Related Products</h1>
    <div
      class="grid w-full grid-cols-1 xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 gap-10 px-5 py-4 color"
    >
      @for (product of allRelatedProducts; track $index) {
      <div
        routerLink="/products/{{ product._id }}/view"
        class="col-span-1 flex flex-col justify-evenly items-center rounded border shadow border-white color p-3"
      >
        <img width="150px" height="150px" [src]="product.thumbnail" alt="" />
        <h3 class="text-2xl font-bold py-2 text-center">
          {{ product.title }}
        </h3>
        <p class="text-xl font-bold py-2">₹{{ product.price }}</p>
      </div>
      }
    </div>
  </div>
</div>
<app-footer></app-footer>

<p-dialog
  header="Edit Profile"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-8">Add Your Review</span>
  <div class="flex items-center gap-4 mb-8">
    <label for="email" class="font-semibold w-24">Name</label>
    <input [(ngModel)]="review.reviewerName" pInputText id="email" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="email" class="font-semibold w-24">Email</label>
    <input [(ngModel)]="review.reviewerEmail" pInputText id="email" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="username" class="font-semibold w-24">Rating</label>
    <input [(ngModel)]="review.rating" pInputText id="username" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="email" class="font-semibold w-24">Comment</label>
    <input [(ngModel)]="review.comment" pInputText id="email" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="email" class="font-semibold w-24">Date</label>
    <p-datepicker [(ngModel)]="review.date"  dateFormat="dd.mm.yy" />
  </div>
  <div class="flex justify-end gap-2">
    <button (click)="addReview()" class="bg-[#ae9b846b] text-white px-3 py-2 rounded mt-3">
      Save
    </button>
    <button class="bg-[#ae9b846b] text-white px-3 py-2 rounded mt-3">
      Cancel
    </button>
  </div>
</p-dialog>
