<div class="grid grid-cols-9 gap-2">
  <div class="col-span-2">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-span-7 p-5">
    <h1 class="text-center text-3xl font-bold pb-3">All Users List</h1>
    <div class="card">
      <p-table
        *ngIf="allMessage.length > 0"
        [value]="allMessage"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Message</th>
          </tr>
        </ng-template>
        <ng-template #body let-order let-i="rowIndex">
          <tr>
            <td>
              {{ i + 1 }}
            </td>
            <td>
              {{ order.name }}
            </td>
            <td>
              {{ order.email }}
            </td>
            <td>
              {{ order.phone }}
            </td>
            <td>
              {{ order.message }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
